html{
    background-color: black;

}

body{
    color: #E6EDF0;
    font-family: 'Montserrat', sans-serif;
}

.head-wrap{
    width: 80%;
    margin: auto;
    justify-content: center;
}

.nav-bar {
    width: 100%;
    text-align: center;
}

.logo{
    width: 25%;
    height: 50%;
    padding-top: 20px;
    left: 2rem;
}

.nav-bar ul li{
    list-style-type: none;
}

.nav-bar a {
    color: #E6EDF0;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.nav-bar a:hover {
    color: #A80410;
    font-size: 1.2rem;
}

.slideshow img{
    width: 100%;
}

.foot p{
    font-weight: 100;
    font-size: 0.6rem;
    text-align: center;
    padding-top: 1.6rem;
}


@media screen and (min-width: 960px) {

    .header{
        display: flex;
    }

    .logo{
        width: 15%;
    }


    .nav-bar {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .nav-bar ul li {
        display: inline-block;
        text-decoration: none;
        justify-content: space-between;
        margin: auto;
    }

    .nav-bar a {
        padding: 20px;
    }

    .nav-bar a.home {
        font-weight: 600;
        font-size: 1.3rem;
    }

    .head-wrap,.main-wrap,.foot-wrap{
        width: 80%;
        margin: auto;
        justify-content: center;
    }

    .slideshow{
        padding-top: 5rem;
    }
}