/* seting up a background color for whole webpage */
html{
    background-color: black;
}

/* styling the txt */
body{
    color: #E6EDF0;
    font-family: 'Montserrat', sans-serif;
}

/* setting a wrapper for header */
.head-wrap{
    width: 80%;
    margin: auto;
    justify-content: center;
}

/* adds styles to nav bar */
.nav-bar {
    width: 100%;
    text-align: center;
}


.logo{
    width: 50%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nav-bar ul li{
    list-style-type: none;
    
}

ul{
    padding: 0%;
}

.nav-bar a {
    color: #E6EDF0;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.nav-bar a:hover {
    color: #A80410;
    font-size: 1.2rem;
    transition: 0.25s ease-in-out;
}

/* customsing skip links for screen reader */
.skip {
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    text-decoration: none;
    color: #E6EDF0;
    font-weight: 700;
    font-size: 1.2rem;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
}

/* making the image of main page display as slideshow */
.slideshow img{
    width: 100%;
}

/* adding style to footer content */
.foot p{
    font-weight: 100;
    font-size: 0.6rem;
    text-align: center;
    padding-top: 1.6rem;
}

  /* adding breakpoint for desktop display */
@media screen and (min-width: 960px) {

    /* adding flexbox properties to header */
    .header{
        display: flex;
    }

    /* resizing logo */
    .logo{
        width: 29%;
    }

    /* aligning navbar to right */
    .nav-bar {
        text-align: right;
    }

    /* styling navbar for desktop view */
    .nav-bar ul li {
        display: inline-block;
        text-decoration: none;
        justify-content: space-between;
        margin: auto;
    }

    .nav-bar a {
        padding: 20px;
    }

    .nav-bar a.home {
        font-weight: 700;
        font-size: 1.3rem;
    }

    /* aligning content in header with wraper */
    .head-wrap{
        width: 84%;
        margin: auto;
        justify-content: center;
    }

    /* aligning content in header with wraper */
    .main-wrap,.foot-wrap{
        width: 80%;
        margin: auto;
        justify-content: center;
    }

    /* adding padding to slideshow image on top side */
    .slideshow{
        padding-top: 5rem;
    }
  
}