/* seting up a background color for whole webpage */
html{
    background-color: black;
}

/* styling the txt */
body{
    color: #E6EDF0;
    font-family: 'Montserrat', sans-serif;
}

/* setting a wrapper for header */
.head-wrap{
    width: 80%;
    margin: auto;
    justify-content: center;
}

/* customsing skip links for screen reader */
.skip {
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    text-decoration: none;
    color: #E6EDF0;
    font-weight: 700;
    font-size: 1.2rem;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
    
}

/* adds styles to nav bar */
.nav-bar {
    width: 100%;
    text-align: center;
}

.logo{
    width: 50%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.nav-bar ul li{
    list-style-type: none;
    
}

ul{
    padding: 0%;
}
.nav-bar a {
    color: #E6EDF0;
    display: block;
    padding: 12px;
    text-decoration: none;
    transition: ease-in-out 0.25s;
}

.nav-bar a:hover {
    color: #A80410;
    font-size: 1.2rem;
}

/* adusting main content wrapper */
.main-wrap{
    width: 90%;
    margin: auto;
    justify-content: center;
}

/* stylising the contact form */
.contactbox {
    font-weight: 600;
    font-size: 1.2rem;
    padding: 1rem 0rem 2rem 0rem;
}

.forminput {
    width: 100%;
    height: 1.5rem;
    font-size: 18px;
}

.forminput:focus{
    background-color: lightblue;
    color: #CBD7CE;
}

.formmessageinput:focus{
    background-color: lightblue;
    color: black;
}

.formmessageinput {
    width: 100%;
    font-size: 18px;
    height: 5rem;
}

/* adding style to submit button */
.formbutton {
    background-color: #E6EDF0;
    color: black;
    padding: 0.1rem 1rem;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 40px;
    transition: ease-in-out 0.25s;
}

/* adding style to submit button during hover state */
.formbutton:hover{
    translate: y-axis 1rem;
    padding: 0.2rem 1.5rem;
    font-size: 1.2rem;
}

/* adding style to submit button during active state or when button is pressed*/
.formbutton:active{
    background-color: #A80410;
    color: #CBD7CE;
}

.contactbox{
    position: relative;
}

.formbutton{
    position: absolute;
    margin-left: 40%;
    transform: translateY(-50%);
    transform: translateY(-50%);
}

/* giving style to table for placing an order */
table{
    width: 100%;
}
 
/* choosing color for background and text */
table{
    background-color: #E6EDF0;
    color: black;
    text-align: center;
}

/* targeting a specific element for table */
table tr:nth-child(7) td{
    border-top: 2px solid ;
    font-weight: 800;
    font-size: 2rem;
}

/* adding style to footer content */
.foot p{
    font-weight: 100;
    font-size: 0.6rem;
    text-align: center;
    padding-top: 1.6rem;
}

  /* adding breakpoint for desktop display */
@media screen and (min-width: 960px) {

    /* adding flexbox properties to header */
    .header{
        display: flex;
    }

    /* resizing logo */
    .logo{
        width: 29%;
    }

    /* aligning navbar to right */
    .nav-bar {
        text-align: right;
    }

    /* styling navbar for desktop view */
    .nav-bar ul li {
        display: inline-block;
        text-decoration: none;
        justify-content: space-between;
    }

    .nav-bar a {
        padding: 20px;
    }

    .nav-bar a.order {
        font-weight: 700;
        font-size: 1.3rem;
    }

    /* aligning content in header with wraper */
    .head-wrap{
        width: 84%;
        margin: auto;
        justify-content: center;
    }

    /* aligning content in main and footer with wraper */
    .main-wrap,.foot-wrap{
        width: 75%;
        margin: auto;
        justify-content: center;
    }
    
    /* putting display grid property on ordering secton */
    .contact{ grid-area: b1;}
    .location{ grid-area: b2;}
    

    .main-content{
        padding: 3rem 0;
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        grid-template-areas: 
        'b1 b2';
        gap: 1.5rem;
    }

    /* stylising the contact form */
    .contactbox {
        font-weight: 600;
        font-size: 1.2rem;
    }

    
    .forminput {
        width: 100%;
        height: 3rem;
        font-size: 18px;
    }

    .formmessageinput {
        width: 100%;
        font-size: 18px;
        height: 10rem;
    }

    .formbutton {
        background-color: #E6EDF0;
        color: black;
        padding: 0.1rem 1rem;
        font-size: 1.1rem;
        font-weight: 700;
        border-radius: 40px;
    }
     
    .contact .formbutton{
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    /* giving style to table for placing an order */
    table{
        background-color: #E6EDF0;
        color: black;
        text-align: center;
    }
    
    table tr:nth-child(7) td{
        border-top: 2px solid ;
        font-weight: 800;
        font-size: 1.2rem;
    }
}