/* seting up a background color for whole webpage */
html{
    background-color: black;

}

/* styling the txt */
body{
    color: #E6EDF0;
    font-family: 'Montserrat', sans-serif;
}

/* setting a wrapper for header */
.head-wrap{
    width: 80%;
    margin: auto;
    justify-content: center;
}

/* customsing skip links for screen reader */
.skip {
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    text-decoration: none;
    color: #E6EDF0;
    font-weight: 700;
    font-size: 1.2rem;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
    
}

/* adds styles to nav bar */
.nav-bar {
    width: 100%;
    text-align: center;
}

.logo{
    width: 50%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nav-bar ul li{
    list-style-type: none;
    
}

ul{
    padding: 0%;
}

.nav-bar a {
    color: #E6EDF0;
    display: block;
    padding: 12px;
    text-decoration: none;
    transition: ease-in-out 0.25s;
}

.nav-bar a:hover {
    color: #A80410;
    font-size: 1.2rem;
    font-weight: 600;
}

/* adds style to contact details */
.details{
    text-align: center;
    padding-bottom: 2rem;
}

/* sizing location map for mobile view */
.location{
    width: 90%;
    text-align: center;
}

/* adding style to footer content */
.foot p{
    font-weight: 100;
    font-size: 0.6rem;
    text-align: center;
    padding-top: 1.6rem;
}

/* adding breakpoint for desktop display */
@media screen and (min-width: 960px) {

    /* adding flexbox properties to header */
    .header{
        display: flex;
    }

    /* resizing logo */
    .logo{
        width: 29%;
    }

    /* aligning navbar to right */
    .nav-bar {
        text-align: right;
    }

    /* styling navbar for desktop view */
    .nav-bar ul li {
        display: inline-block;
        text-decoration: none;
        justify-content: space-between;
        margin: auto;
    }

    .nav-bar a {
        padding: 20px;
    }

    .nav-bar a.contact {
        font-weight: 600;
        font-size: 1.3rem;
    }

    /* aligning content in header with wraper */
    .head-wrap{
        width: 84%;
        margin: auto;
        justify-content: center;
    }

    /* aligning content in main and footer with wraper */
    .main-wrap,.foot-wrap{
        width: 75%;
        margin: auto;
        justify-content: center;
    }

    /* putting display grid property on contact details */
    .details{ grid-area: b1;}
    .location{ grid-area: b2;}
    

    .main-content{
        padding: 3rem 0;
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        grid-template-areas: 
        'b1 b2';
        gap: 1.5rem;
    }

    /* aligning text for contacting details */
    .details{
        text-align: left;
        padding-bottom: 2rem;
    }
    
    /* setting width for map */
    .location{
        width: 100%;
    }

}