html{
    background-color: black;

}

body{
    color: #E6EDF0;
    font-family: 'Montserrat', sans-serif;
}

.head-wrap{
    width: 80%;
    margin: auto;
    justify-content: center;
}

.nav-bar {
    width: 100%;
    text-align: center;
}

.skip {
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    text-decoration: none;
    color: #E6EDF0;
    font-weight: 700;
    font-size: 1.2rem;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
    
}

.logo{
    width: 50%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nav-bar ul li{
    list-style-type: none;
    
}

ul{
    padding: 0%;
}

.nav-bar a {
    color: #E6EDF0;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.nav-bar a:hover {
    color: #A80410;
    font-size: 1.2rem;
    transition: 0.25s ease-in-out;
}

.slideshow img{
    width: 100%;
}

.foot p{
    font-weight: 100;
    font-size: 0.6rem;
    text-align: center;
    padding-top: 1.6rem;
}


@media screen and (min-width: 960px) {

    .header{
        display: flex;
    }

    .logo{
        width: 29%;
    }

    .nav-bar {
        text-align: right;
    }

    .nav-bar ul li {
        display: inline-block;
        text-decoration: none;
        justify-content: space-between;
        margin: auto;
    }

    .nav-bar a {
        padding: 20px;
    }

    .nav-bar a.home {
        font-weight: 700;
        font-size: 1.3rem;
    }

    .head-wrap{
        width: 84%;
        margin: auto;
        justify-content: center;
    }

    .main-wrap,.foot-wrap{
        width: 80%;
        margin: auto;
        justify-content: center;
    }

    .slideshow{
        padding-top: 5rem;
    }
  
}