/* seting up a background color for whole webpage */
html{
    background-color: black;

}

/* styling the txt */
body{
    color: #E6EDF0;
    font-family: 'Montserrat', sans-serif;
}

/* setting a wrapper for header */
.head-wrap{
    width: 80%;
    margin: auto;
    justify-content: center;
}

/* adds styles to nav bar */
.nav-bar {
    width: 100%;
    text-align: center;
}

.logo{
    width: 50%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nav-bar ul li{
    list-style-type: none;
    
}

ul{
    padding: 0%;
}

.nav-bar a {
    color: #E6EDF0;
    display: block;
    padding: 12px;
    text-decoration: none;
    transition: ease-in-out 0.25s;
}

.nav-bar a:hover {
    color: #A80410;
    font-size: 1.2rem;
}

/* customsing skip links for screen reader */
.skip {
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    text-decoration: none;
    color: #E6EDF0;
    font-weight: 700;
    font-size: 1.2rem;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
    
}

/* setting up wrapper for main content */
.main-wrap{
    width: 90%;
    margin: auto;
    justify-content: center;
}

/* fiting the restro img according to template */
.restro img{
    width: 100%;
    padding-bottom: 20px;
}

/* making photos of founders stay inline */
.founders{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.founders img{
    width: 120px;
    padding: 2rem 0;
}

/* adding style to description about to .founder-text */
.founder-text{
    text-align: center;
    font-weight: 500;
}

/* adding style to footer content */
.foot p{
    font-weight: 100;
    font-size: 0.6rem;
    text-align: center;
    padding-top: 1.6rem;
}

/* adding animation to paragraph */
.founder-text p::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
.founder-text p:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
.founder-text p::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #A80410;
    z-index: -1;
    transition: transform .4s ease;
  }
  
.founder-text p{
    position: relative;
  }

  /* adding breakpoint for desktop display */
@media screen and (min-width: 960px) {

    /* adding flexbox properties to header */
    .header{
        display: flex;
    }

    /* resizing logo */
    .logo{
        width: 29%;
    }

    /* aligning navbar to right */
    .nav-bar {
        text-align: right;
    }

    /* styling navbar for desktop view */
    .nav-bar ul li {
        display: inline-block;
        text-decoration: none;
        justify-content: space-between;
        margin: auto;
    }

    .nav-bar a {
        padding: 20px;
    }

    .nav-bar a.about {
        font-weight: 700;
        font-size: 1.3rem;
    }

    /* aligning content in header with wraper */
    .head-wrap{
        width: 84%;
        margin: auto;
        justify-content: center;
    }

    /* aligning content in header with wraper */
    .main-wrap,.foot-wrap{
        width: 75%;
        margin: auto;
        justify-content: center;
    }
    
    /* adding display grid property to content */
    .restro{ grid-area: b1;}
    .ceos{ grid-area: b2;}
    

    .main-content{
        padding: 3rem 0;
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        grid-template-areas: 
        'b1 b2';
        gap: 1.5rem;
    }
    .restro{
        width: 100%;
    }

    /* spacing photos of founders evenly inline */
    .founders{
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }

    .founders img{
        width: 10rem;
        padding: 2rem 0;
    }

    /* align text of founders description */
    .founder-text{
        text-align: center;
        font-weight: 500;
        font-size: 1rem;
    }
}